services:
  owncast:
    image: owncast/owncast:latest
    container_name: "owncast"
    restart: unless-stopped
    security_opt:
      - no-new-privileges:true
    ports:
      - "8080:8080"
      - "1935:1935"
    volumes:
      - ".data:/app/data"
